html {
    margin: 0;
    padding: 0;
}

body {
    -webkit-user-select: none;
}

#v-pills-tab {
    width: 250px;
    height: 100vh;
    border-right: 1px solid #eee;
}

#v-pills-tabContent {
    width: calc(100% - 250px);
}

i[class*="bi-"] {
    font-size: 20px;
}

.sanduk-dropdown-toggle-without-arrow::after {
    content: none !important;
}