html {
    margin: 0;
    padding: 0;
}

body {
    -webkit-user-select: none;
}

/* Sidebar
================================================*/
.sanduk-sidebar-menu-item {
    font-size: 0.9em;
}

/* Context Tabs
================================================*/
#v-pills-tab {
    width: 250px;
    height: 100vh;
    border-right: 1px solid #eee;
}

#v-pills-tabContent {
    width: calc(100% - 250px);
}

/* Bootstrap icons
================================================*/
i[class*="bi-"] {
    font-size: 20px;
}

/* Overriding default bootstrap style
================================================*/
.sanduk-dropdown-toggle-without-arrow::after {
    content: none !important;
}

/* Canvas Tool
================================================*/
.sanduk-canvas-tool.sanduk-canvas-tool-draw {
    cursor: url(../bootstrap-icons/circle-fill.svg) 7 7, auto;
}

.sanduk-canvas-tool.sanduk-canvas-tool-erase {
    cursor: url(../bootstrap-icons/circle.svg) 7 7, auto;
}

.sanduk-canvas-menu-item-highlighted {
    background-color: #ffe4e1;
}

/* Compare Tool
================================================*/
.sanduk-compare-tool-pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    height: 100%;
    border: 1px solid #eee;
    padding: 5px;
    counter-reset: line;
}

.sanduk-compare-tool-pre .sanduk-compare-tool-line {
    display: inline;
    line-height: 0;
}

/*.sanduk-compare-tool-pre .sanduk-compare-tool-line:before {*/
/*    counter-increment: line;*/
/*    content: counter(line);*/
/*}*/

.sanduk-compare-tool-line .sanduk-diff-del-op {
    background-color: #f8a39d;
}

.sanduk-compare-tool-line.sanduk-line-changed.sanduk-del-op {
    background-color: #fcd6d0;
}

.sanduk-compare-tool-line .sanduk-diff-ins-op {
    background-color: #85f685;
}

.sanduk-compare-tool-line.sanduk-line-changed.sanduk-ins-op {
    background-color: #c9ffc9;
}